<!-- Metadata -->
<script context="module">
  export const metadata = {
    title: 'Slithe - Components - Button'
  };
</script>

# Button

Hello there, i'm a button.

``` javascript
const toto = 'bonjour';
```

``` html
<sl-button>Super Button</sl-button>
```

<sl-button>Wow that's fancy</sl-button>
