/* Host */
:host([sl-theme=primer-light]) {
  /* Override */
  --sl-button-border-radius: 6px;
  --sl-button-background-color: var(--pr-aqua-haze);
  --sl-button-color: var(--pr-shark);
  --sl-button-border-color: rgba(27,31,36,0.15);
  --sl-button-hover-background-color: var(--pr-athens-gray);
  --sl-button-hover-border-color: rgba(27,31,36,0.15);
  --sl-button-active-background-color: var(--pr-clewd);
  --sl-button-active-border-color: rgba(27,31,36,0.15);
  /* Custom */
  --sl-button-outline-color: var(--pr-science-blue);
  --sl-button-box-shadow: 0 1px 0 rgba(27,31,36,0.04), inset 0 1px 0 rgba(255,255,255,0.25);
}
:host([sl-theme=primer-dark]) {
  /* Override */
  --sl-button-border-radius: 6px;
  --sl-button-background-color: var(--pr-sibuya-game-reserve);
  --sl-button-color: var(--pr-karpa-kora);
  --sl-button-border-color: rgba(205,217,229,0.1);
  --sl-button-hover-background-color: var(--pr-dark-sea);
  --sl-button-hover-border-color: var(--pr-slate-gray);
  --sl-button-active-background-color: var(--pr-nothing-but-life);
  --sl-button-active-border-color: var(--pr-nevada);
  /* Custom */
  --sl-button-outline-color: var(--pr-cornflower-blue);
  --sl-button-box-shadow: 0 0 transparent, 0 0 transparent;;
}
/* Primary */
:host([sl-theme=primer-light][primary]) {
  --sl-button-background-color: var(--pr-eucalyptus);
  --sl-button-color: var(--pr-white);
  --sl-button-box-shadow: 0 1px 0 rgba(27,31,36,0.1), inset 0 1px 0 rgba(255,255,255,0.03);
  --sl-button-border-color: rgba(205,217,229,0.1);
  --sl-button-hover-background-color: var(--pr-sea-green);
  --sl-button-hover-color: var(--pr-white);
  --sl-button-active-background-color: var(--pr-bold-irish);
  --sl-button-active-color: var(--pr-white);
  --sl-button-focus-box-shadow: inset 0 0 0 3px var(--sl-white);
}
:host([sl-theme=primer-dark][primary]) {
  --sl-button-background-color: var(--pr-forest-green);
  --sl-button-color: var(--pr-white);
  --sl-button-box-shadow: 0 1px 0 rgba(27,31,36,0.1), inset 0 1px 0 rgba(255,255,255,0.03);
  --sl-button-border-color: rgba(240,246,252,0.1);
  --sl-button-hover-background-color: var(--pr-boeing);
  --sl-button-hover-color: var(--pr-white);
  --sl-button-active-background-color: var(--pr-forest-green);
  --sl-button-active-color: var(--pr-white);
  --sl-button-focus-box-shadow: inset 0 0 0 3px var(--pr-white);
}
/* Outline */
:host([sl-theme=primer-light][outline]) {
  --sl-button-color: var(--pr-science-blue);
  --sl-button-box-shadow: 0 1px 0 rgba(27,31,36,0.04), inset 0 1px 0 rgba(255,255,255,0.25);
  --sl-button-hover-background-color: var(--pr-science-blue);
  --sl-button-hover-color: var(--pr-white);
  --sl-button-hover-border-color: rgba(27,31,36,0.15);
  --sl-button-hover-box-shadow: 0 1px 0 rgba(27,31,36,0.1), inset 0 1px 0 rgba(255,255,255,0.03);
  --sl-button-active-background-color: var(--pr-tenne);
  --sl-button-active-color: var(--pr-white);
  --sl-button-active-border-color: rgba(27,31,36,0.15);
  --sl-button-active-box-shadow: inset 0 1px 0 rgba(0,33,85,0.2);
}
:host([sl-theme=primer-dark][outline]) {
  --sl-button-color: var(--pr-malibu);
  --sl-button-box-shadow: 0 0 transparent, 0 0 transparent;
  --sl-button-hover-background-color: var(--pr-outer-space);
  --sl-button-hover-color: var(--pr-malibu);
  --sl-button-hover-border-color: rgba(240,246,252,0.1);
  --sl-button-hover-box-shadow: 0 1px 0 rgba(1,4,9,0.1), inset 0 1px 0 rgba(255,255,255,0.03);
  --sl-button-active-background-color: var(--pr-torea-bay);
  --sl-button-active-color: var(--pr-white);
  --sl-button-active-border-color: rgba(240,246,252,0.1);
  --sl-button-active-box-shadow: 0 0 transparent;
}
/* Danger */
:host([sl-theme=primer-light][danger]) {
  --sl-button-color: var(--pr-cardinal);
  --sl-button-box-shadow: 0 1px 0 rgba(27,31,36,0.04), inset 0 1px 0 rgba(255,255,255,0.25);
  --sl-button-hover-background-color: var(--pr-shiraz);
  --sl-button-hover-color: var(--pr-white);
  --sl-button-hover-border-color: rgba(27,31,36,0.15);
  --sl-button-hover-box-shadow: 0 1px 0 rgba(27,31,36,0.1), inset 0 1px 0 rgba(255,255,255,0.03);
  --sl-button-active-background-color: var(--pr-miyamoto-red);
  --sl-button-active-color: var(--pr-white);
  --sl-button-active-border-color: rgba(27,31,36,0.15);
  --sl-button-active-box-shadow: inset 0 1px 0 rgba(76,0,20,0.2);
}
:host([sl-theme=primer-dark][danger]) {
  --sl-button-color: var(--pr-sunset-orange);
  --sl-button-box-shadow: 0 0 transparent, 0 0 transparent;
  --sl-button-hover-background-color: var(--pr-punch);
  --sl-button-hover-color: var(--pr-white);
  --sl-button-hover-border-color: var(--pr-sunset-orange);
  --sl-button-hover-box-shadow: 0 0 transparent, 0 0 transparent;
  --sl-button-active-background-color: var(--pr-tall-poppy);
  --sl-button-active-color: var(--pr-white);
  --sl-button-active-border-color: var(--pr-salmon);
  --sl-button-active-box-shadow: 0 0 transparent;
}
/* Button */
button {
  font-family: var(--pr-font-family);
  box-shadow: var(--sl-button-box-shadow);
  padding: 5px 16px;
  font-size: 14px;
  font-weight: 500;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  user-select: none;
}
button:hover {
  color: var(--sl-button-hover-color, unset);
  border-color: var(--sl-button-hover-border-color, unset);
  box-shadow: var(--sl-button-hover-box-shadow, unset);
}
button:active {
  color: var(--sl-button-active-color, unset);
  border-color: var(--sl-button-active-border-color, unset);
  box-shadow: var(--sl-button-active-box-shadow, unset);
}
button:focus-visible {
  outline-color: var(--sl-button-outline-color);
  box-shadow: var(--sl-button-focus-box-shadow, unset);
}
