:root {
  --pr-font-family: 'Fira Sans';
  --pr-font-family-mono: 'Fira Mono';
  
  --pr-white: #FFFFFF;
  --pr-aqua-haze: #F6F8FA;
  --pr-athens-gray: #F3F4F6;
  --pr-clewd: #EBECF0;
  --pr-shark: #24292F;
  --pr-bunker: #22272E;
  --pr-iron: #DCDDDE;
  --pr-bright-gray: #373E47;
  --pr-sibuya-game-reserve: #373E47;
  --pr-karpa-kora: #ADBAC7;
  --pr-dark-sea: #444C56;
  --pr-slate-gray: #768390;
  --pr-nothing-but-life: #3D444D;
  --pr-nevada: #636E7B;
  --pr-geyser: #D0D7DE;
  --pr-dark-artifact: #2D333B;
  --pr-science-blue: #0969DA;
  --pr-true-blue: #085EC4;
  --pr-endeavour: #0754AE;
  --pr-cornflower-blue: #539BF5;
  --pr-outer-space: #30363D;
  --pr-cardinal: #CF222E;
  --pr-shiraz: #A40E26;
  --pr-miyamoto-red: #C11F2A;
  --pr-sunset-orange: #F85149;
  --pr-punch: #DA3633;
  --pr-tall-poppy: #B62324;
  --pr-salmon: #FF7B72;
  --pr-shuttle-gray: #57606A;
  --pr-regent-gray: #8B949E;
  --pr-pale-sky: #6E7681;
}

*[sl-theme=primer-light] {
  --sl-font-family: var(--pr-font-family);
  --sl-font-family-mono: var(--pr-font-family-mono);
  --sl-background-color: var(--pr-white);
  --sl-background-color-subtle: var(--pr-aqua-haze);
  --sl-text-color: var(--pr-shark);
  --sl-text-color-subtle: var(--pr-shuttle-gray);
  --sl-divider-color: var(--pr-geyser);
  --sl-white: var(--pr-white);
  --sl-primary: var(--pr-science-blue);
}

*[sl-theme=primer-dark] {
  --sl-font-family: var(--pr-font-family);
  --sl-font-family-mono: var(--pr-font-family-mono);
  --sl-background-color: var(--pr-bunker);
  --sl-background-color-subtle: var(--pr-dark-artifact);
  --sl-text-color: var(--pr-karpa-kora);
  --sl-text-color-subtle: var(--pr-regent-gray);
  --sl-divider-color: var(--pr-bright-gray);
  --sl-white: var(--pr-white);
  --sl-primary: var(--pr-endeavour);
}
