
// Light
:host([sl-theme=light]) {
  --sl-hud-notification-background-color: var(--pr-white);
  --sl-hud-notification-color: var(--pr-shark);
  --sl-hud-notification-box-shadow: inset 0 0 0 1px var(--pr-geyser), 0 8px 24px rgba(140,149,159,0.2);
}
// Dark
:host([sl-theme=dark]) {
  --sl-hud-notification-background-color: var(--pr-incomplete-eclipse);
  --sl-hud-notification-color: var(--pr-norborne);
  --sl-hud-notification-box-shadow: inset 0 0 0 1px var(--pr-outer-space), 0 8px 24px var(--pr-black-squared);
}
// Hud
div.sl-hud {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 4;
  pointer-events: none;
  > ul.notifications {
    position: fixed;
    right: 15px;
    bottom: 0;
    list-style: none;
    margin: 0;
    padding: 0;
    > li.notification {
      pointer-events: all;
      display: flex;
      flex-direction: row;
      margin: 16px;
      border-radius: 6px;
      background-color: var(--sl-hud-notification-background-color);
      color: var(--sl-hud-notification-color);
      box-shadow: var(--sl-hud-notification-box-shadow);
      &.info {
        > div.icon {
          background-color: var(--pr-science-blue);
        }
      }
      &.success {
        > div.icon {
          background-color: var(--pr-eucalyptus);
        }
      }
      &.warn {
        > div.icon {
          background-color: var(--pr-pirate-gold);
        }
      }
      &.error {
        > div.icon {
          background-color: var(--pr-cardinal);
        }
      }
      > div.icon {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 48px;
        min-height: 48px;
        color: var(--pr-white);
        border: 1px solid transparent;
        border-right: 0;
        border-top-left-radius: inherit;
        border-bottom-left-radius: inherit;
      }
      > div.content {
        display: flex;
        align-items: center;
        padding: 16px;
      }
    }
  }
}
