/* Host */
:host([sl-theme=primer-light]) {
  /* Override */
  --sl-kbd-background-color: var(--pr-aqua-haze);
  --sl-kbd-color: var(--pr-shuttle-gray);
  --sl-kbd-border-color: rgba(27,31,36,0.15);
}
:host([sl-theme=primer-dark]) {
  /* Override */
  --sl-kbd-background-color: var(--pr-sibuya-game-reserve);
  --sl-kbd-color: var(--pr-regent-gray);
  --sl-kbd-border-color: var(--pr-regent-gray);
}
/* Keyboard */
kbd.sl-kbd {
  font-family: var(--pr-font-family);
  border-radius: 4px;
  padding: 2px 4px;
}
