// Host
:host([sl-theme=light]) {
  // Override
  --sl-tooltip-background-color: var(--pr-shark);
  --sl-tooltip-color: var(--pr-white);
  --sl-tooltip-border-color: transparent;
}
:host([sl-theme=dark]) {
  // Override
  --sl-tooltip-background-color: var(--pr-pale-sky);
  --sl-tooltip-color: var(--pr-white);
  --sl-tooltip-border-color: transparent;
}
// Tooltip
div.sl-tooltip {
  padding: .5em .75em;
  border-radius: 6px;
}
