// Light
:host([sl-theme=light]) {
	--sl-action-group-title-color: rgb(101, 109, 118);
}
// Dark
:host([sl-theme=dark]) {
	--sl-action-group-title-color: rgb(118, 131, 144);
}
// Action Group
li.sl-action-group {
	width: 100%;
	> span.label {
		padding: 6px 16px;
    font-size: 12px;
    font-weight: 600;
		color: var(--sl-action-group-title-color);
	}
}
