// Common
:host {
  --slithe-primer-action-color: var(--slithe-primer-text-color);
	--slithe-primer-action-color-active: var(--slithe-primer-text-color);
  --slithe-primer-action-background-color-hover: var(--slithe-primer-background-color-hover);
	--slithe-primer-action-background-color-active: var(--slithe-primer-background-color-active);
	--slithe-primer-action-outline-color-focus: var(--slithe-primer-outline-color-focus);
}
// Danger
:host([danger]) {
	--slithe-primer-action-color: var(--slithe-primer-text-color-danger);
	--slithe-primer-action-color-hover: var(--slithe-primer-text-color-danger);
  --slithe-primer-action-background-color-hover: var(--slithe-primer-background-color-danger-hover);
	--slithe-primer-action-color-active: var(--slithe-primer-text-color-danger);
  --slithe-primer-action-background-color-active: var(--slithe-primer-background-color-danger-active);
}
// Action
li.sl-action {
	width: 100%;
	display: flex;
	padding: 6px 8px;
	font-size: 14px;
	line-height: 20px;
	min-height: 5px;
	margin: 0 8px;
	border-radius: 6px;
  color: var(--slithe-primer-action-color);
	cursor: pointer;
	background-color: transparent;
	user-select: none;
	&:hover {
    background-color: var(--slithe-primer-action-background-color-hover);
    color: var(--slithe-primer-action-color-hover);
  }
  &:active {
    background-color: var(--slithe-primer-action-background-color-active);
    color: var(--slithe-primer-action-color-active);
  }
  &:focus-visible {
    outline: 2px solid var(--slithe-primer-action-outline-color-focus);
    outline-offset: -2px;
  }
}
