// Square
:host([square]) {
  --slithe-primer-avatar-border-radius: 4px;
}
// Avatar
div.sl-avatar {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  vertical-align: middle;
  border-radius: var(--slithe-primer-avatar-border-radius, 50%);
  background-color: var(--slithe-primer-background-color-primary);
  color: var(--slithe-primer-text-color-3);
  > img {
    height: inherit;
    width: inherit;
    box-sizing: border-box;
    padding: 4px;
  }
}
