// Blankslate
div.sl-blankslate {
  font-family: var(--slithe-primer-font-family);
  color: var(--slithe-primer-text-color-2);
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  > h1, h2, h3, h4, h5, h6 {
    margin: 0;
    color: var(--slithe-primer-text-color);
  }
  > p {
    margin: 0;
  }
  &.has-heading {
    > h1, h2, h3, h4, h5, h6 {
      margin: 5px 0;
    }
  }
  &.has-default {
    > p {
      margin: 5px 0;
    }
  }
  &.has-actions {
    > div.actions {
      margin-top: 5px;
    }
  }
}
