// Common
:host {
	--slithe-primer-button-padding: 0px;
}
:host(:not(:last-of-type)) {
	--slithe-primer-breadcrumb-divider: '/';
}
// Active
:host([active]) {
	--slithe-primer-button-disabled-opacity: 1;
	--slithe-primer-button-color-override: currentColor;
}
// Breadcrumb
li.sl-breadcrumb {
	&::after {
		padding: 0.5em;
    color: var(--slithe-primer-text-color-2);
		content: var(--slithe-primer-breadcrumb-divider, none);
	}
}
