// Common
:host {
  --slithe-primer-button-color: var(--slithe-primer-text-color);
  --slithe-primer-button-background-color: var(--slithe-primer-background-color);
  --slithe-primer-button-background-color-hover: var(--slithe-primer-background-color-hover);
  --slithe-primer-button-background-color-active: var(--slithe-primer-background-color-active);
  --slithe-primer-button-border-color: var(--slithe-primer-border-color);
  --slithe-primer-button-border-color-hover: var(--slithe-primer-border-color-hover);
  --slithe-primer-button-border-color-active: var(--slithe-primer-border-color-active);
  --slithe-primer-button-outline-color-focus: var(--slithe-primer-outline-color-focus);
  --slithe-primer-button-box-shadow: var(--slithe-primer-box-shadow);
}
// Primary
:host([primary]) {
  --slithe-primer-button-background-color: var(--slithe-primer-background-color-primary);
  --slithe-primer-button-color: var(--slithe-primer-text-color-3);
  --slithe-primer-button-box-shadow: var(--slithe-primer-box-shadow-2);
  --slithe-primer-button-border-color: var(--slithe-primer-border-color);
  --slithe-primer-button-background-color-hover: var(--slithe-primer-background-color-primary-hover);
  --slithe-primer-button-hover-color: var(--slithe-primer-text-color-3);
  --slithe-primer-button-background-color-active: var(--slithe-primer-background-color-primary-active);
  --slithe-primer-button-active-color: var(--slithe-primer-text-color-3);
  --slithe-primer-button-box-shadow-focus: inset 0 0 0 3px var(--slithe-primer-text-color-3);
}
// Danger
:host([danger]) {
  --slithe-primer-button-color: var(--slithe-primer-text-color-danger);
  --slithe-primer-button-background-color-hover: var(--slithe-primer-background-color-danger-hover-2);
  --slithe-primer-button-hover-color: var(--slithe-primer-text-color-3);
  --slithe-primer-button-border-color-hover: var(--slithe-primer-border-color-danger-hover);
  --slithe-primer-button-hover-box-shadow: var(--slithe-primer-box-shadow-2);
  --slithe-primer-button-background-color-active: var(--slithe-primer-background-color-danger-active-2);
  --slithe-primer-button-active-color: var(--slithe-primer-text-color-3);
  --slithe-primer-button-border-color-active: var(--slithe-primer-border-color-danger-active);
  --slithe-primer-button-active-box-shadow: var(--slithe-primer-box-shadow-3);
}
// Borderless
:host([borderless]) {
  --slithe-primer-button-background-color: var(--slithe-primer-transparent);
  --slithe-primer-button-color: var(--slithe-primer-text-color-primary);
  --slithe-primer-button-border-color: var(--slithe-primer-transparent);
  --slithe-primer-button-box-shadow: var(--slithe-primer-box-shadow-transparent);
  --slithe-primer-button-background-color-hover: var(--slithe-primer-background-color-hover);
  --slithe-primer-button-hover-color: var(--slithe-primer-text-color-primary);
  --slithe-primer-button-border-color-hover: var(--slithe-primer-transparent);
  --slithe-primer-button-background-color-active: var(--slithe-primer-background-color-active);
  --slithe-primer-button-active-color: var(--slithe-primer-text-color-primary);
  --slithe-primer-button-border-color-active: var(--slithe-primer-transparent);
}
// Link
:host([link]) {
  --slithe-primer-button-background-color: var(--slithe-primer-transparent);
  --slithe-primer-button-color: var(--slithe-primer-text-color-primary);
  --slithe-primer-button-border-color: var(--slithe-primer-transparent);
  --slithe-primer-button-box-shadow: var(--slithe-primer-box-shadow-transparent);
  --slithe-primer-button-background-color-hover: var(--slithe-primer-transparent);
  --slithe-primer-button-hover-color: var(--slithe-primer-text-color-primary);
  --slithe-primer-button-border-color-hover: var(--slithe-primer-transparent);
  --slithe-primer-button-hover-text-decoration: underline;
  --slithe-primer-button-background-color-active: var(--slithe-primer-transparent);
  --slithe-primer-button-active-color: var(--slithe-primer-text-color-primary);
  --slithe-primer-button-border-color-active: var(--slithe-primer-transparent);
  --slithe-primer-button-active-text-decoration: underline;
}
// Small
:host([small]) {
  --slithe-primer-button-font-size: 12px;
  --slithe-primer-button-padding: 3px 12px;
}
// Large
:host([large]) {
  --slithe-primer-button-font-size: 16px;
  --slithe-primer-button-padding: 9px 20px;
}
// Disabled
:host([disabled]) {
  pointer-events: none;
  opacity: var(--slithe-primer-button-disabled-opacity, 0.5);
}
// Button
button.sl-button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-family: var(--slithe-primer-font-family);
  position: relative;
  width: 100%;
  background-color: var(--slithe-primer-button-background-color);
  color: var(--slithe-primer-button-color-override, var(--slithe-primer-button-color));
  border: 1px solid var(--slithe-primer-button-border-color);
  border-radius: 6px;
  padding: var(--slithe-primer-button-padding, 5px 16px);
  font-size: var(--slithe-primer-button-font-size, 14px);
  user-select: none;
  font-weight: 500;
  box-shadow: var(--slithe-primer-button-box-shadow);
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  &.icon-only {
    padding: 6px;
  }
  &:hover {
    background-color: var(--slithe-primer-button-background-color-hover);
    border-color: var(--slithe-primer-button-border-color-hover);
    color: var(--slithe-primer-button-hover-color, unset);
    box-shadow: var(--slithe-primer-button-hover-box-shadow, unset);
    text-decoration: var(--slithe-primer-button-hover-text-decoration, none);
  }
  &:active {
    background-color: var(--slithe-primer-button-background-color-active);
    border-color: var(--slithe-primer-button-border-color-active);
    color: var(--slithe-primer-button-active-color, unset);
    box-shadow: var(--slithe-primer-button-active-box-shadow, unset);
    text-decoration: var(--slithe-primer-button-active-text-decoration, none);
  }
  &:focus-visible {
    outline: 2px solid var(--slithe-primer-button-outline-color-focus);
    outline-offset: -2px;
    box-shadow: var(--slithe-primer-button-box-shadow-focus, unset);
  }
}
