// Common
:host {
  --slithe-primer-card-background-color: var(--slithe-primer-background-color-2);
  --slithe-primer-card-color: var(--slithe-primer-text-color);
  --slithe-primer-card-border-color: var(--slithe-primer-border-color-2);
  --slithe-primer-card-header-background-color: var(--slithe-primer-background-color);
}
// Danger
:host([danger]) {
  --slithe-primer-card-border-color: var(--slithe-primer-border-color-danger);
}
// Small
:host([small]) {
  --slithe-primer-card-padding: 8px;
}
// Card
div.sl-card {
  width: 100%;
  font-family: var(--slithe-primer-font-family);
  color: var(--slithe-primer-card-color);
  &.has-header {
    &.has-default {
      > header {
        border-bottom-left-radius: 0px;
        border-bottom-right-radius: 0px;
        border-bottom: none;
      }
      > section {
        border-top-left-radius: 0px;
        border-top-right-radius: 0px;
      }
    }
    &:not(.has-default).has-footer {
      > header {
        border-bottom-left-radius: 0px;
        border-bottom-right-radius: 0px;
        border-bottom: none;
      }
      > footer {
        border-top-left-radius: 0px;
        border-top-right-radius: 0px;
      }
    }
    > header {
      display: block;
    }
  }
  &.has-default {
    > section {
      display: block;
    }
  }
  &.has-footer {
    &.has-default {
      > section {
        border-bottom-left-radius: 0px;
        border-bottom-right-radius: 0px;
      }
      > footer {
        border-top-left-radius: 0px;
        border-top-right-radius: 0px;
        border-top: none;
      }
    }
    > footer {
      display: block;
    }
  }
  > header {
    display: none;
    background-color: var(--slithe-primer-card-header-background-color);
    border-radius: 6px;
    border: 1px solid var(--slithe-primer-card-border-color);
    padding: var(--slithe-primer-card-padding, 16px);
  }
  > section {
    display: none;
    background-color: var(--slithe-primer-card-background-color);
    border-radius: 6px;
    border-top: 1px solid var(--slithe-primer-card-border-color);
    border-bottom: 1px solid var(--slithe-primer-card-border-color);
    border-left: 1px solid var(--slithe-primer-card-border-color);
    border-right: 1px solid var(--slithe-primer-card-border-color);
    padding: var(--slithe-primer-card-padding, 16px);
  }
  > footer {
    display: none;
    background-color: var(--slithe-primer-card-background-color);
    border-radius: 6px;
    border: 1px solid var(--slithe-primer-card-border-color);
    padding: var(--slithe-primer-card-padding, 16px);
  }
}
