// Common
:host {
	--slithe-primer-flash-color: var(--slithe-primer-text-color);
	--slithe-primer-flash-background-color-info: var(--slithe-primer-background-color-info);
	--slithe-primer-flash-background-color-success: var(--slithe-primer-background-color-success);
	--slithe-primer-flash-background-color-warn: var(--slithe-primer-background-color-warn);
	--slithe-primer-flash-background-color-error: var(--slithe-primer-background-color-error);
	--slithe-primer-flash-border-color-info: var(--slithe-primer-border-color-info);
	--slithe-primer-flash-border-color-success: var(--slithe-primer-border-color-success);
	--slithe-primer-flash-border-color-warn: var(--slithe-primer-border-color-warn);
	--slithe-primer-flash-border-color-error: var(--slithe-primer-border-color-error);
	--slithe-primer-flash-icon-color-info: var(--slithe-primer-text-color-info);
	--slithe-primer-flash-icon-color-success: var(--slithe-primer-text-color-success);
	--slithe-primer-flash-icon-color-warn: var(--slithe-primer-text-color-warn);
	--slithe-primer-flash-icon-color-error: var(--slithe-primer-text-color-error);
}
// Flash
div.sl-flash {
	display: flex;
	flex-direction: row;
	align-items: center;
	padding: 16px;
	border-radius: 6px;
	font-size: 14px;
	color: var(--slithe-primer-flash-color);
	background-color: var(--slithe-primer-flash-background-color);
	border: 1px solid var(--slithe-primer-flash-border-color);
	--slithe-primer-flash-background-color: var(--slithe-primer-flash-background-color-info);
	--slithe-primer-flash-border-color: var(--slithe-primer-flash-border-color-info);
	--slithe-primer-flash-icon-color: var(--slithe-primer-flash-icon-color-info);
	&.success {
		--slithe-primer-flash-background-color: var(--slithe-primer-flash-background-color-success);
		--slithe-primer-flash-border-color: var(--slithe-primer-flash-border-color-success);
		--slithe-primer-flash-icon-color: var(--slithe-primer-flash-icon-color-success);
	}
	&.warn {
		--slithe-primer-flash-background-color: var(--slithe-primer-flash-background-color-warn);
		--slithe-primer-flash-border-color: var(--slithe-primer-flash-border-color-warn);
		--slithe-primer-flash-icon-color: var(--slithe-primer-flash-icon-color-warn);
	}
	&.error {
		--slithe-primer-flash-background-color: var(--slithe-primer-flash-background-color-error);
		--slithe-primer-flash-border-color: var(--slithe-primer-flash-border-color-error);
		--slithe-primer-flash-icon-color: var(--slithe-primer-flash-icon-color-error);
	}
	> sl-icon {
		margin-right: 8px;
		color: var(--slithe-primer-flash-icon-color);
	}
}
