// Common
:host {
	--slithe-primer-form-control-status-success-color: var(--slithe-primer-text-color-success-2);
	--slithe-primer-form-control-status-failure-color: var(--slithe-primer-text-color-error-2);
	--slithe-primer-form-control-caption-color: var(--slithe-primer-text-color-2);
}
// Form Control
div.sl-form-control {
	display: flex;
	flex-direction: column;
	margin: 8px 0;
	> sl-label {
		padding-bottom: 6px;
	}
	> div.status {
		display: flex;
    align-items: center;
		&.success {
			color: var(--slithe-primer-form-control-status-success-color);
		}
		&.failure {
			color: var(--slithe-primer-form-control-status-failure-color);
		}
		> span {
			font-size: 12px;
			font-weight: 600;
			margin-left: 4px;
		}
	}
	> span.caption {
		display: block;
		font-size: 12px;
		color: var(--slithe-primer-form-control-caption-color);
	}
}
