// Common
:host {
  --slithe-primer-hud-notification-background-color: var(--slithe-primer-background-color-2);
  --slithe-primer-hud-notification-color: var(--slithe-primer-text-color);
  --slithe-primer-hud-notification-box-shadow: var(--slithe-primer-box-shadow-4);
  --slithe-primer-hud-notification-icon-color-info: var(--slithe-primer-text-color-info);
	--slithe-primer-hud-notification-icon-color-success: var(--slithe-primer-text-color-success);
	--slithe-primer-hud-notification-icon-color-warn: var(--slithe-primer-text-color-warn);
	--slithe-primer-hud-notification-icon-color-error: var(--slithe-primer-text-color-error);
}
// Hud
div.sl-hud {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 10;
  pointer-events: none;
  > ul.notifications {
    position: fixed;
    right: 15px;
    bottom: 0;
    list-style: none;
    margin: 0;
    padding: 0;
    > li.notification {
      pointer-events: all;
      display: flex;
      flex-direction: row;
      margin: 16px;
      border-radius: 6px;
      background-color: var(--slithe-primer-hud-notification-background-color);
      color: var(--slithe-primer-hud-notification-color);
      box-shadow: var(--slithe-primer-hud-notification-box-shadow);
      &.info {
        > div.icon {
          background-color: var(--slithe-primer-hud-notification-icon-color-info);
        }
      }
      &.success {
        > div.icon {
          background-color: var(--slithe-primer-hud-notification-icon-color-success);
        }
      }
      &.warn {
        > div.icon {
          background-color: var(--slithe-primer-hud-notification-icon-color-warn);
        }
      }
      &.error {
        > div.icon {
          background-color: var(--slithe-primer-hud-notification-icon-color-error);
        }
      }
      > div.icon {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 48px;
        min-height: 48px;
        color: var(--slithe-primer-text-color-3);
        border: 1px solid transparent;
        border-right: 0;
        border-top-left-radius: inherit;
        border-bottom-left-radius: inherit;
      }
      > div.content {
        display: flex;
        align-items: center;
        padding: 16px;
      }
    }
  }
}
