// Common
:host {
  --slithe-primer-input-checkbox-color: var(--slithe-primer-text-color-3);
  --slithe-primer-input-checkbox-background-color: var(--slithe-primer-background-color-2);
  --slithe-primer-input-checkbox-border-color: var(--slithe-primer-border-color-3);
  --slithe-primer-input-checkbox-checked-background-color: var(--slithe-primer-text-color-info);
  --slithe-primer-input-checkbox-checked-border-color: var(--slithe-primer-text-color-info);
	--slithe-primer-input-checkbox-status-success-color: var(--slithe-primer-text-color-success-2);
	--slithe-primer-input-checkbox-status-failure-color: var(--slithe-primer-text-color-error-2);
}
// Disabled
:host([disabled]) {
  pointer-events: none;
  opacity: 0.5;
  user-select: none;
}
// Checkbox
div.sl-input-checkbox {
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  user-select: none;
  &.success {
		> input {
      &::after {
			  border-color: var(--slithe-primer-input-checkbox-status-success-color);
      }
		}
	}
	&.failure {
		> input {
      &::after {
			  border-color: var(--slithe-primer-input-checkbox-status-failure-color);
      }
		}
	}
  > div.checkbox-wrapper {
    position: relative;
    margin: 3px 0;
    display: flex;
    > input {
      margin: 0;
      &::after {
        pointer-events: none;
        content: '';
        position: absolute;
        inset: 0;
        background-color: var(--slithe-primer-input-checkbox-background-color);
        border-radius: 2px;
        border: 1px solid var(--slithe-primer-input-checkbox-border-color);
      }
      &:checked {
        &::after {
          background-color: var(--slithe-primer-input-checkbox-checked-background-color);
          border-color: var(--slithe-primer-input-checkbox-checked-border-color);
        }
      }
    }
    > sl-icon {
      pointer-events: none;
      position: absolute;
      inset: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      color: var(--slithe-primer-input-checkbox-color);
    }
  }
  > sl-label {
		padding-left: 6px;
	}
}
