// Common
:host {
  --slithe-primer-input-text-color: var(--slithe-primer-text-color);
	--slithe-primer-input-text-background-color: var(--slithe-primer-background-color-2);
	--slithe-primer-input-text-border-color: var(--slithe-primer-border-color-2);
	--slithe-primer-input-text-box-shadow: var(--slithe-primer-box-shadow-5);
	--slithe-primer-input-text-focus-border-color: var(--slithe-primer-outline-color-focus);
	--slithe-primer-input-text-status-success-color: var(--slithe-primer-text-color-success-2);
	--slithe-primer-input-text-status-failure-color: var(--slithe-primer-text-color-error-2);
}
// Small
:host([small]) {
  --slithe-primer-input-text-font-size: 12px;
  --slithe-primer-input-text-padding: 3px 12px;
}
// Block
:host([block]) {
  --slithe-primer-input-text-width: 100%;
}
// Disabled
:host([disabled]) {
  pointer-events: none;
  opacity: 0.5;
  user-select: none;
}
// Checkbox
div.sl-input-text {
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  user-select: none;
	width: var(--slithe-primer-input-text-width, auto);
	&.success {
		> input {
			border-color: var(--slithe-primer-input-text-status-success-color);
		}
	}
	&.failure {
		> input {
			border-color: var(--slithe-primer-input-text-status-failure-color);
		}
	}
  > input {
		width: inherit;
		padding: var(--slithe-primer-input-text-padding, 5px 12px);
		font-size: var(--slithe-primer-input-text-font-size, 14px);
		line-height: 20px;
		border-radius: 6px;
		color: var(--slithe-primer-input-text-color);
		background-color: var(--slithe-primer-input-text-background-color);
		border: 1px solid var(--slithe-primer-input-text-border-color);
		box-shadow: var(--slithe-primer-input-text-box-shadow);
		&.focused, &:focus-visible {
			border-color: var(--slithe-primer-input-text-focus-border-color);
			outline: none;
			box-shadow: inset 0 0 0 1px var(--slithe-primer-input-text-focus-border-color);
		}
  }
}
