// Common
:host {
  --slithe-primer-keyboard-background-color: var(--slithe-primer-background-color);
  --slithe-primer-keyboard-color: var(--slithe-primer-text-color-4);
  --slithe-primer-keyboard-border-color: var(--slithe-primer-border-color);
}
// Keyboard
kbd.sl-keyboard {
  font-family: var(--slithe-primer-font-family-mono);
  border-radius: 4px;
  padding: 2px 4px;
  font-size: 12px;
  background-color: var(--slithe-primer-keyboard-background-color);
  color: var(--slithe-primer-keyboard-color);
  border: 1px solid var(--slithe-primer-keyboard-border-color);
  text-transform: uppercase;
}
