// Common
:host {
  --slithe-primer-splitter-divider-border-color: var(--slithe-primer-border-color-2);
  --slithe-primer-splitter-divider-hover-border-color: var(--slithe-primer-outline-color-focus);
}
// Splitter
div.sl-splitter {
  height: 100%;
  display: flex;
  overflow: hidden;
  > div.pane {
    position: relative;
    overflow: var(--slithe-primer-splitter-overflow, auto);
    > div.catcher {
      position: absolute;
      inset: 0;
      z-index: 2;
    }
  }
  > div.handle {
    z-index: 3;
    user-select: none;
    &.disabled {
      pointer-events: none;
    }
    > div.divider {
      background-color: var(--slithe-primer-splitter-divider-border-color);
      transition: all ease-in-out .25s;
      transition-delay: .25s;
    }
    &:hover {
      > div.divider {
        background-color: var(--slithe-primer-splitter-divider-hover-border-color);
        box-shadow: var(--slithe-primer-splitter-divider-hover-border-color) 0px 0px 0px 1px;
      }
    }
  }
  &.horizontal {
    width: 100%;
    flex-direction: row;
    > div.handle {
      width: 1px;
      padding: 0 3px;
      margin: 0 -3px;
      cursor: col-resize;
      > div.divider {
        width: 1px;
        height: 100%;
      }
    }
  }
  &.vertical {
    flex-direction: column;
    > div.handle {
      height: 1px;
      padding: 3px 0;
      margin: -3px 0;
      cursor: row-resize;
      > div.divider {
        height: 1px;
        width: 100%;
      }
    }
  }
}
// Animation
@keyframes fade-offset {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
