// Common
:host {
  --slithe-primer-tab-border-color: var(--slithe-primer-transparent);
  --slithe-primer-tab-button-color: var(--slithe-primer-text-color);
  --slithe-primer-tab-button-hover-background-color: var(--slithe-primer-background-color-hover);
  --slithe-primer-tab-button-active-background-color: var(--slithe-primer-background-color-active);
}
// Active
:host([active]) {
  --slithe-primer-tab-border-color: var(--slithe-primer-border-color-primary);
  --slithe-primer-tab-button-font-weight: 500;
}
// Tab
li.sl-tab {
  position: relative;
  box-sizing: border-box;
  padding: var(--slithe-primer-tab-padding, 8px 4px);
  margin-bottom: -1px;
  border-bottom: 2px solid var(--slithe-primer-tab-border-color, transparent);
  list-style: none;
  > button {
    display: inline-flex;
    align-items: center;
    flex-direction: row;
    font-family: var(--slithe-primer-font-family);
    position: relative;
    border: none;
    background-color: transparent;
    color: var(--slithe-primer-tab-button-color);
    border-radius: 6px;
    padding: var(--slithe-primer-tab-button-padding, 5px 16px);
    font-weight: var(--slithe-primer-tab-button-font-weight, 400);
    font-size: var(--slithe-primer-tab-button-font-size, 14px);
    user-select: none;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    &:hover {
      background-color: var(--slithe-primer-tab-button-hover-background-color);
      box-shadow: var(--slithe-primer-tab-button-hover-box-shadow, unset);
    }
    &:active {
      background-color: var(--slithe-primer-tab-button-active-background-color);
      box-shadow: var(--slithe-primer-tab-button-active-box-shadow, unset);
    }
    &:focus-visible {
      outline: 2px solid var(--slithe-primer-tab-button-outline-color);
      outline-offset: -2px;
      box-shadow: var(--slithe-primer-tab-button-focus-box-shadow, unset);
    }
  }
}
