// Common
:host {
  --slithe-primer-tabs-background-color: var(--slithe-primer-background-color-2);
  --slithe-primer-tabs-color: var(--slithe-primer-text-color);
  --slithe-primer-tabs-border-color: var(--slithe-primer-border-color-2);
}
// Small
:host([small]) {
  --slithe-primer-tab-padding: 4px 2px;
  --slithe-primer-tab-button-font-size: 12px;
  --slithe-primer-tab-button-close-icon-size: 12px;
}
// Tabs
nav.sl-tabs {
  width: 100%;
  background-color: var(--slithe-primer-tabs-background-color);
  color: var(--slithe-primer-tabs-color);
  > ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid var(--slithe-primer-tabs-border-color);
  }
}
