/* Base */
html {
  height: 100%;
  overflow-y: scroll;
}
body {
  height: 100%;
  margin: 0;
}
div#app {
  height: 100%;
  display: flex;
  flex-direction: column;
  font-family: var(--sl-font-family);
  background-color: var(--sl-background-color);
  color: var(--sl-text-color);
}
/* Links */
a {
  color: inherit;
  text-decoration: none;
}
a[aria-current="page"] {
  color: var(--sl-primary);
}
a:hover {
  text-decoration: underline;
  color: var(--sl-accent);
}
