i.sl-icon[name] {
  display: inline-block;
  transform: translate(0, 0);
  text-rendering: auto;
  font: normal normal 400 14px/1 'Eva Icons';
  font-size: inherit;
  vertical-align: middle;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}
i.sl-icon[name="activity"]::before {
  content: "\ea01";
}
i.sl-icon[name="activity-outline"]::before {
  content: "\ea02";
}
i.sl-icon[name="alert-circle"]::before {
  content: "\ea03";
}
i.sl-icon[name="alert-circle-outline"]::before {
  content: "\ea04";
}
i.sl-icon[name="alert-triangle"]::before {
  content: "\ea05";
}
i.sl-icon[name="alert-triangle-outline"]::before {
  content: "\ea06";
}
i.sl-icon[name="archive"]::before {
  content: "\ea07";
}
i.sl-icon[name="archive-outline"]::before {
  content: "\ea08";
}
i.sl-icon[name="arrow-back"]::before {
  content: "\ea09";
}
i.sl-icon[name="arrow-back-outline"]::before {
  content: "\ea0a";
}
i.sl-icon[name="arrow-circle-down"]::before {
  content: "\ea0b";
}
i.sl-icon[name="arrow-circle-down-outline"]::before {
  content: "\ea0c";
}
i.sl-icon[name="arrow-circle-left"]::before {
  content: "\ea0d";
}
i.sl-icon[name="arrow-circle-left-outline"]::before {
  content: "\ea0e";
}
i.sl-icon[name="arrow-circle-right"]::before {
  content: "\ea0f";
}
i.sl-icon[name="arrow-circle-right-outline"]::before {
  content: "\ea10";
}
i.sl-icon[name="arrow-circle-up"]::before {
  content: "\ea11";
}
i.sl-icon[name="arrow-circle-up-outline"]::before {
  content: "\ea12";
}
i.sl-icon[name="arrow-down"]::before {
  content: "\ea13";
}
i.sl-icon[name="arrow-down-outline"]::before {
  content: "\ea14";
}
i.sl-icon[name="arrow-downward"]::before {
  content: "\ea15";
}
i.sl-icon[name="arrow-downward-outline"]::before {
  content: "\ea16";
}
i.sl-icon[name="arrow-forward"]::before {
  content: "\ea17";
}
i.sl-icon[name="arrow-forward-outline"]::before {
  content: "\ea18";
}
i.sl-icon[name="arrow-ios-back"]::before {
  content: "\ea19";
}
i.sl-icon[name="arrow-ios-back-outline"]::before {
  content: "\ea1a";
}
i.sl-icon[name="arrow-ios-downward"]::before {
  content: "\ea1b";
}
i.sl-icon[name="arrow-ios-downward-outline"]::before {
  content: "\ea1c";
}
i.sl-icon[name="arrow-ios-forward"]::before {
  content: "\ea1d";
}
i.sl-icon[name="arrow-ios-forward-outline"]::before {
  content: "\ea1e";
}
i.sl-icon[name="arrow-ios-upward"]::before {
  content: "\ea1f";
}
i.sl-icon[name="arrow-ios-upward-outline"]::before {
  content: "\ea20";
}
i.sl-icon[name="arrow-left"]::before {
  content: "\ea21";
}
i.sl-icon[name="arrow-left-outline"]::before {
  content: "\ea22";
}
i.sl-icon[name="arrow-right"]::before {
  content: "\ea23";
}
i.sl-icon[name="arrow-right-outline"]::before {
  content: "\ea24";
}
i.sl-icon[name="arrow-up"]::before {
  content: "\ea25";
}
i.sl-icon[name="arrow-up-outline"]::before {
  content: "\ea26";
}
i.sl-icon[name="arrow-upward"]::before {
  content: "\ea27";
}
i.sl-icon[name="arrow-upward-outline"]::before {
  content: "\ea28";
}
i.sl-icon[name="arrowhead-down"]::before {
  content: "\ea29";
}
i.sl-icon[name="arrowhead-down-outline"]::before {
  content: "\ea2a";
}
i.sl-icon[name="arrowhead-left"]::before {
  content: "\ea2b";
}
i.sl-icon[name="arrowhead-left-outline"]::before {
  content: "\ea2c";
}
i.sl-icon[name="arrowhead-right"]::before {
  content: "\ea2d";
}
i.sl-icon[name="arrowhead-right-outline"]::before {
  content: "\ea2e";
}
i.sl-icon[name="arrowhead-up"]::before {
  content: "\ea2f";
}
i.sl-icon[name="arrowhead-up-outline"]::before {
  content: "\ea30";
}
i.sl-icon[name="at"]::before {
  content: "\ea31";
}
i.sl-icon[name="at-outline"]::before {
  content: "\ea32";
}
i.sl-icon[name="attach"]::before {
  content: "\ea33";
}
i.sl-icon[name="attach-2"]::before {
  content: "\ea34";
}
i.sl-icon[name="attach-2-outline"]::before {
  content: "\ea35";
}
i.sl-icon[name="attach-outline"]::before {
  content: "\ea36";
}
i.sl-icon[name="award"]::before {
  content: "\ea37";
}
i.sl-icon[name="award-outline"]::before {
  content: "\ea38";
}
i.sl-icon[name="backspace"]::before {
  content: "\ea39";
}
i.sl-icon[name="backspace-outline"]::before {
  content: "\ea3a";
}
i.sl-icon[name="bar-chart"]::before {
  content: "\ea3b";
}
i.sl-icon[name="bar-chart-2"]::before {
  content: "\ea3c";
}
i.sl-icon[name="bar-chart-2-outline"]::before {
  content: "\ea3d";
}
i.sl-icon[name="bar-chart-outline"]::before {
  content: "\ea3e";
}
i.sl-icon[name="battery"]::before {
  content: "\ea3f";
}
i.sl-icon[name="battery-outline"]::before {
  content: "\ea40";
}
i.sl-icon[name="behance"]::before {
  content: "\ea41";
}
i.sl-icon[name="behance-outline"]::before {
  content: "\ea42";
}
i.sl-icon[name="bell"]::before {
  content: "\ea43";
}
i.sl-icon[name="bell-off"]::before {
  content: "\ea44";
}
i.sl-icon[name="bell-off-outline"]::before {
  content: "\ea45";
}
i.sl-icon[name="bell-outline"]::before {
  content: "\ea46";
}
i.sl-icon[name="bluetooth"]::before {
  content: "\ea47";
}
i.sl-icon[name="bluetooth-outline"]::before {
  content: "\ea48";
}
i.sl-icon[name="book"]::before {
  content: "\ea49";
}
i.sl-icon[name="book-open"]::before {
  content: "\ea4a";
}
i.sl-icon[name="book-open-outline"]::before {
  content: "\ea4b";
}
i.sl-icon[name="book-outline"]::before {
  content: "\ea4c";
}
i.sl-icon[name="bookmark"]::before {
  content: "\ea4d";
}
i.sl-icon[name="bookmark-outline"]::before {
  content: "\ea4e";
}
i.sl-icon[name="briefcase"]::before {
  content: "\ea4f";
}
i.sl-icon[name="briefcase-outline"]::before {
  content: "\ea50";
}
i.sl-icon[name="browser"]::before {
  content: "\ea51";
}
i.sl-icon[name="browser-outline"]::before {
  content: "\ea52";
}
i.sl-icon[name="brush"]::before {
  content: "\ea53";
}
i.sl-icon[name="brush-outline"]::before {
  content: "\ea54";
}
i.sl-icon[name="bulb"]::before {
  content: "\ea55";
}
i.sl-icon[name="bulb-outline"]::before {
  content: "\ea56";
}
i.sl-icon[name="calendar"]::before {
  content: "\ea57";
}
i.sl-icon[name="calendar-outline"]::before {
  content: "\ea58";
}
i.sl-icon[name="camera"]::before {
  content: "\ea59";
}
i.sl-icon[name="camera-outline"]::before {
  content: "\ea5a";
}
i.sl-icon[name="car"]::before {
  content: "\ea5b";
}
i.sl-icon[name="car-outline"]::before {
  content: "\ea5c";
}
i.sl-icon[name="cast"]::before {
  content: "\ea5d";
}
i.sl-icon[name="cast-outline"]::before {
  content: "\ea5e";
}
i.sl-icon[name="charging"]::before {
  content: "\ea5f";
}
i.sl-icon[name="charging-outline"]::before {
  content: "\ea60";
}
i.sl-icon[name="checkmark"]::before {
  content: "\ea61";
}
i.sl-icon[name="checkmark-circle"]::before {
  content: "\ea62";
}
i.sl-icon[name="checkmark-circle-2"]::before {
  content: "\ea63";
}
i.sl-icon[name="checkmark-circle-2-outline"]::before {
  content: "\ea64";
}
i.sl-icon[name="checkmark-circle-outline"]::before {
  content: "\ea65";
}
i.sl-icon[name="checkmark-outline"]::before {
  content: "\ea66";
}
i.sl-icon[name="checkmark-square"]::before {
  content: "\ea67";
}
i.sl-icon[name="checkmark-square-2"]::before {
  content: "\ea68";
}
i.sl-icon[name="checkmark-square-2-outline"]::before {
  content: "\ea69";
}
i.sl-icon[name="checkmark-square-outline"]::before {
  content: "\ea6a";
}
i.sl-icon[name="chevron-down"]::before {
  content: "\ea6b";
}
i.sl-icon[name="chevron-down-outline"]::before {
  content: "\ea6c";
}
i.sl-icon[name="chevron-left"]::before {
  content: "\ea6d";
}
i.sl-icon[name="chevron-left-outline"]::before {
  content: "\ea6e";
}
i.sl-icon[name="chevron-right"]::before {
  content: "\ea6f";
}
i.sl-icon[name="chevron-right-outline"]::before {
  content: "\ea70";
}
i.sl-icon[name="chevron-up"]::before {
  content: "\ea71";
}
i.sl-icon[name="chevron-up-outline"]::before {
  content: "\ea72";
}
i.sl-icon[name="clipboard"]::before {
  content: "\ea73";
}
i.sl-icon[name="clipboard-outline"]::before {
  content: "\ea74";
}
i.sl-icon[name="clock"]::before {
  content: "\ea75";
}
i.sl-icon[name="clock-outline"]::before {
  content: "\ea76";
}
i.sl-icon[name="close"]::before {
  content: "\ea77";
}
i.sl-icon[name="close-circle"]::before {
  content: "\ea78";
}
i.sl-icon[name="close-circle-outline"]::before {
  content: "\ea79";
}
i.sl-icon[name="close-outline"]::before {
  content: "\ea7a";
}
i.sl-icon[name="close-square"]::before {
  content: "\ea7b";
}
i.sl-icon[name="close-square-outline"]::before {
  content: "\ea7c";
}
i.sl-icon[name="cloud-download"]::before {
  content: "\ea7d";
}
i.sl-icon[name="cloud-download-outline"]::before {
  content: "\ea7e";
}
i.sl-icon[name="cloud-upload"]::before {
  content: "\ea7f";
}
i.sl-icon[name="cloud-upload-outline"]::before {
  content: "\ea80";
}
i.sl-icon[name="code"]::before {
  content: "\ea81";
}
i.sl-icon[name="code-download"]::before {
  content: "\ea82";
}
i.sl-icon[name="code-download-outline"]::before {
  content: "\ea83";
}
i.sl-icon[name="code-outline"]::before {
  content: "\ea84";
}
i.sl-icon[name="collapse"]::before {
  content: "\ea85";
}
i.sl-icon[name="collapse-outline"]::before {
  content: "\ea86";
}
i.sl-icon[name="color-palette"]::before {
  content: "\ea87";
}
i.sl-icon[name="color-palette-outline"]::before {
  content: "\ea88";
}
i.sl-icon[name="color-picker"]::before {
  content: "\ea89";
}
i.sl-icon[name="color-picker-outline"]::before {
  content: "\ea8a";
}
i.sl-icon[name="compass"]::before {
  content: "\ea8b";
}
i.sl-icon[name="compass-outline"]::before {
  content: "\ea8c";
}
i.sl-icon[name="copy"]::before {
  content: "\ea8d";
}
i.sl-icon[name="copy-outline"]::before {
  content: "\ea8e";
}
i.sl-icon[name="corner-down-left"]::before {
  content: "\ea8f";
}
i.sl-icon[name="corner-down-left-outline"]::before {
  content: "\ea90";
}
i.sl-icon[name="corner-down-right"]::before {
  content: "\ea91";
}
i.sl-icon[name="corner-down-right-outline"]::before {
  content: "\ea92";
}
i.sl-icon[name="corner-left-down"]::before {
  content: "\ea93";
}
i.sl-icon[name="corner-left-down-outline"]::before {
  content: "\ea94";
}
i.sl-icon[name="corner-left-up"]::before {
  content: "\ea95";
}
i.sl-icon[name="corner-left-up-outline"]::before {
  content: "\ea96";
}
i.sl-icon[name="corner-right-down"]::before {
  content: "\ea97";
}
i.sl-icon[name="corner-right-down-outline"]::before {
  content: "\ea98";
}
i.sl-icon[name="corner-right-up"]::before {
  content: "\ea99";
}
i.sl-icon[name="corner-right-up-outline"]::before {
  content: "\ea9a";
}
i.sl-icon[name="corner-up-left"]::before {
  content: "\ea9b";
}
i.sl-icon[name="corner-up-left-outline"]::before {
  content: "\ea9c";
}
i.sl-icon[name="corner-up-right"]::before {
  content: "\ea9d";
}
i.sl-icon[name="corner-up-right-outline"]::before {
  content: "\ea9e";
}
i.sl-icon[name="credit-card"]::before {
  content: "\ea9f";
}
i.sl-icon[name="credit-card-outline"]::before {
  content: "\eaa0";
}
i.sl-icon[name="crop"]::before {
  content: "\eaa1";
}
i.sl-icon[name="crop-outline"]::before {
  content: "\eaa2";
}
i.sl-icon[name="cube"]::before {
  content: "\eaa3";
}
i.sl-icon[name="cube-outline"]::before {
  content: "\eaa4";
}
i.sl-icon[name="diagonal-arrow-left-down"]::before {
  content: "\eaa5";
}
i.sl-icon[name="diagonal-arrow-left-down-outline"]::before {
  content: "\eaa6";
}
i.sl-icon[name="diagonal-arrow-left-up"]::before {
  content: "\eaa7";
}
i.sl-icon[name="diagonal-arrow-left-up-outline"]::before {
  content: "\eaa8";
}
i.sl-icon[name="diagonal-arrow-right-down"]::before {
  content: "\eaa9";
}
i.sl-icon[name="diagonal-arrow-right-down-outline"]::before {
  content: "\eaaa";
}
i.sl-icon[name="diagonal-arrow-right-up"]::before {
  content: "\eaab";
}
i.sl-icon[name="diagonal-arrow-right-up-outline"]::before {
  content: "\eaac";
}
i.sl-icon[name="done-all"]::before {
  content: "\eaad";
}
i.sl-icon[name="done-all-outline"]::before {
  content: "\eaae";
}
i.sl-icon[name="download"]::before {
  content: "\eaaf";
}
i.sl-icon[name="download-outline"]::before {
  content: "\eab0";
}
i.sl-icon[name="droplet"]::before {
  content: "\eab1";
}
i.sl-icon[name="droplet-off"]::before {
  content: "\eab2";
}
i.sl-icon[name="droplet-off-outline"]::before {
  content: "\eab3";
}
i.sl-icon[name="droplet-outline"]::before {
  content: "\eab4";
}
i.sl-icon[name="edit"]::before {
  content: "\eab5";
}
i.sl-icon[name="edit-2"]::before {
  content: "\eab6";
}
i.sl-icon[name="edit-2-outline"]::before {
  content: "\eab7";
}
i.sl-icon[name="edit-outline"]::before {
  content: "\eab8";
}
i.sl-icon[name="email"]::before {
  content: "\eab9";
}
i.sl-icon[name="email-outline"]::before {
  content: "\eaba";
}
i.sl-icon[name="expand"]::before {
  content: "\eabb";
}
i.sl-icon[name="expand-outline"]::before {
  content: "\eabc";
}
i.sl-icon[name="external-link"]::before {
  content: "\eabd";
}
i.sl-icon[name="external-link-outline"]::before {
  content: "\eabe";
}
i.sl-icon[name="eye"]::before {
  content: "\eabf";
}
i.sl-icon[name="eye-off"]::before {
  content: "\eac0";
}
i.sl-icon[name="eye-off-2"]::before {
  content: "\eac1";
}
i.sl-icon[name="eye-off-2-outline"]::before {
  content: "\eac2";
}
i.sl-icon[name="eye-off-outline"]::before {
  content: "\eac3";
}
i.sl-icon[name="eye-outline"]::before {
  content: "\eac4";
}
i.sl-icon[name="facebook"]::before {
  content: "\eac5";
}
i.sl-icon[name="facebook-outline"]::before {
  content: "\eac6";
}
i.sl-icon[name="file"]::before {
  content: "\eac7";
}
i.sl-icon[name="file-add"]::before {
  content: "\eac8";
}
i.sl-icon[name="file-add-outline"]::before {
  content: "\eac9";
}
i.sl-icon[name="file-outline"]::before {
  content: "\eaca";
}
i.sl-icon[name="file-remove"]::before {
  content: "\eacb";
}
i.sl-icon[name="file-remove-outline"]::before {
  content: "\eacc";
}
i.sl-icon[name="file-text"]::before {
  content: "\eacd";
}
i.sl-icon[name="file-text-outline"]::before {
  content: "\eace";
}
i.sl-icon[name="film"]::before {
  content: "\eacf";
}
i.sl-icon[name="film-outline"]::before {
  content: "\ead0";
}
i.sl-icon[name="flag"]::before {
  content: "\ead1";
}
i.sl-icon[name="flag-outline"]::before {
  content: "\ead2";
}
i.sl-icon[name="flash"]::before {
  content: "\ead3";
}
i.sl-icon[name="flash-off"]::before {
  content: "\ead4";
}
i.sl-icon[name="flash-off-outline"]::before {
  content: "\ead5";
}
i.sl-icon[name="flash-outline"]::before {
  content: "\ead6";
}
i.sl-icon[name="flip"]::before {
  content: "\ead7";
}
i.sl-icon[name="flip-2"]::before {
  content: "\ead8";
}
i.sl-icon[name="flip-2-outline"]::before {
  content: "\ead9";
}
i.sl-icon[name="flip-outline"]::before {
  content: "\eada";
}
i.sl-icon[name="folder"]::before {
  content: "\eadb";
}
i.sl-icon[name="folder-add"]::before {
  content: "\eadc";
}
i.sl-icon[name="folder-add-outline"]::before {
  content: "\eadd";
}
i.sl-icon[name="folder-outline"]::before {
  content: "\eade";
}
i.sl-icon[name="folder-remove"]::before {
  content: "\eadf";
}
i.sl-icon[name="folder-remove-outline"]::before {
  content: "\eae0";
}
i.sl-icon[name="funnel"]::before {
  content: "\eae1";
}
i.sl-icon[name="funnel-outline"]::before {
  content: "\eae2";
}
i.sl-icon[name="gift"]::before {
  content: "\eae3";
}
i.sl-icon[name="gift-outline"]::before {
  content: "\eae4";
}
i.sl-icon[name="github"]::before {
  content: "\eae5";
}
i.sl-icon[name="github-outline"]::before {
  content: "\eae6";
}
i.sl-icon[name="globe"]::before {
  content: "\eae7";
}
i.sl-icon[name="globe-2"]::before {
  content: "\eae8";
}
i.sl-icon[name="globe-2-outline"]::before {
  content: "\eae9";
}
i.sl-icon[name="globe-3"]::before {
  content: "\eaea";
}
i.sl-icon[name="globe-outline"]::before {
  content: "\eaeb";
}
i.sl-icon[name="google"]::before {
  content: "\eaec";
}
i.sl-icon[name="google-outline"]::before {
  content: "\eaed";
}
i.sl-icon[name="grid"]::before {
  content: "\eaee";
}
i.sl-icon[name="grid-outline"]::before {
  content: "\eaef";
}
i.sl-icon[name="hard-drive"]::before {
  content: "\eaf0";
}
i.sl-icon[name="hard-drive-outline"]::before {
  content: "\eaf1";
}
i.sl-icon[name="hash"]::before {
  content: "\eaf2";
}
i.sl-icon[name="hash-outline"]::before {
  content: "\eaf3";
}
i.sl-icon[name="headphones"]::before {
  content: "\eaf4";
}
i.sl-icon[name="headphones-outline"]::before {
  content: "\eaf5";
}
i.sl-icon[name="heart"]::before {
  content: "\eaf6";
}
i.sl-icon[name="heart-outline"]::before {
  content: "\eaf7";
}
i.sl-icon[name="home"]::before {
  content: "\eaf8";
}
i.sl-icon[name="home-outline"]::before {
  content: "\eaf9";
}
i.sl-icon[name="image"]::before {
  content: "\eafa";
}
i.sl-icon[name="image-2"]::before {
  content: "\eafb";
}
i.sl-icon[name="image-outline"]::before {
  content: "\eafc";
}
i.sl-icon[name="inbox"]::before {
  content: "\eafd";
}
i.sl-icon[name="inbox-outline"]::before {
  content: "\eafe";
}
i.sl-icon[name="info"]::before {
  content: "\eaff";
}
i.sl-icon[name="info-outline"]::before {
  content: "\eb00";
}
i.sl-icon[name="keypad"]::before {
  content: "\eb01";
}
i.sl-icon[name="keypad-outline"]::before {
  content: "\eb02";
}
i.sl-icon[name="layers"]::before {
  content: "\eb03";
}
i.sl-icon[name="layers-outline"]::before {
  content: "\eb04";
}
i.sl-icon[name="layout"]::before {
  content: "\eb05";
}
i.sl-icon[name="layout-outline"]::before {
  content: "\eb06";
}
i.sl-icon[name="link"]::before {
  content: "\eb07";
}
i.sl-icon[name="link-2"]::before {
  content: "\eb08";
}
i.sl-icon[name="link-2-outline"]::before {
  content: "\eb09";
}
i.sl-icon[name="link-outline"]::before {
  content: "\eb0a";
}
i.sl-icon[name="linkedin"]::before {
  content: "\eb0b";
}
i.sl-icon[name="linkedin-outline"]::before {
  content: "\eb0c";
}
i.sl-icon[name="list"]::before {
  content: "\eb0d";
}
i.sl-icon[name="list-outline"]::before {
  content: "\eb0e";
}
i.sl-icon[name="loader-outline"]::before {
  content: "\eb0f";
}
i.sl-icon[name="lock"]::before {
  content: "\eb10";
}
i.sl-icon[name="lock-outline"]::before {
  content: "\eb11";
}
i.sl-icon[name="log-in"]::before {
  content: "\eb12";
}
i.sl-icon[name="log-in-outline"]::before {
  content: "\eb13";
}
i.sl-icon[name="log-out"]::before {
  content: "\eb14";
}
i.sl-icon[name="log-out-outline"]::before {
  content: "\eb15";
}
i.sl-icon[name="map"]::before {
  content: "\eb16";
}
i.sl-icon[name="map-outline"]::before {
  content: "\eb17";
}
i.sl-icon[name="maximize"]::before {
  content: "\eb18";
}
i.sl-icon[name="maximize-outline"]::before {
  content: "\eb19";
}
i.sl-icon[name="menu"]::before {
  content: "\eb1a";
}
i.sl-icon[name="menu-2"]::before {
  content: "\eb1b";
}
i.sl-icon[name="menu-2-outline"]::before {
  content: "\eb1c";
}
i.sl-icon[name="menu-arrow"]::before {
  content: "\eb1d";
}
i.sl-icon[name="menu-arrow-outline"]::before {
  content: "\eb1e";
}
i.sl-icon[name="menu-outline"]::before {
  content: "\eb1f";
}
i.sl-icon[name="message-circle"]::before {
  content: "\eb20";
}
i.sl-icon[name="message-circle-outline"]::before {
  content: "\eb21";
}
i.sl-icon[name="message-square"]::before {
  content: "\eb22";
}
i.sl-icon[name="message-square-outline"]::before {
  content: "\eb23";
}
i.sl-icon[name="mic"]::before {
  content: "\eb24";
}
i.sl-icon[name="mic-off"]::before {
  content: "\eb25";
}
i.sl-icon[name="mic-off-outline"]::before {
  content: "\eb26";
}
i.sl-icon[name="mic-outline"]::before {
  content: "\eb27";
}
i.sl-icon[name="minimize"]::before {
  content: "\eb28";
}
i.sl-icon[name="minimize-outline"]::before {
  content: "\eb29";
}
i.sl-icon[name="minus"]::before {
  content: "\eb2a";
}
i.sl-icon[name="minus-circle"]::before {
  content: "\eb2b";
}
i.sl-icon[name="minus-circle-outline"]::before {
  content: "\eb2c";
}
i.sl-icon[name="minus-outline"]::before {
  content: "\eb2d";
}
i.sl-icon[name="minus-square"]::before {
  content: "\eb2e";
}
i.sl-icon[name="minus-square-outline"]::before {
  content: "\eb2f";
}
i.sl-icon[name="monitor"]::before {
  content: "\eb30";
}
i.sl-icon[name="monitor-outline"]::before {
  content: "\eb31";
}
i.sl-icon[name="moon"]::before {
  content: "\eb32";
}
i.sl-icon[name="moon-outline"]::before {
  content: "\eb33";
}
i.sl-icon[name="more-horizontal"]::before {
  content: "\eb34";
}
i.sl-icon[name="more-horizontal-outline"]::before {
  content: "\eb35";
}
i.sl-icon[name="more-vertical"]::before {
  content: "\eb36";
}
i.sl-icon[name="more-vertical-outline"]::before {
  content: "\eb37";
}
i.sl-icon[name="move"]::before {
  content: "\eb38";
}
i.sl-icon[name="move-outline"]::before {
  content: "\eb39";
}
i.sl-icon[name="music"]::before {
  content: "\eb3a";
}
i.sl-icon[name="music-outline"]::before {
  content: "\eb3b";
}
i.sl-icon[name="navigation"]::before {
  content: "\eb3c";
}
i.sl-icon[name="navigation-2"]::before {
  content: "\eb3d";
}
i.sl-icon[name="navigation-2-outline"]::before {
  content: "\eb3e";
}
i.sl-icon[name="navigation-outline"]::before {
  content: "\eb3f";
}
i.sl-icon[name="npm"]::before {
  content: "\eb40";
}
i.sl-icon[name="npm-outline"]::before {
  content: "\eb41";
}
i.sl-icon[name="options"]::before {
  content: "\eb42";
}
i.sl-icon[name="options-2"]::before {
  content: "\eb43";
}
i.sl-icon[name="options-2-outline"]::before {
  content: "\eb44";
}
i.sl-icon[name="options-outline"]::before {
  content: "\eb45";
}
i.sl-icon[name="pantone"]::before {
  content: "\eb46";
}
i.sl-icon[name="pantone-outline"]::before {
  content: "\eb47";
}
i.sl-icon[name="paper-plane"]::before {
  content: "\eb48";
}
i.sl-icon[name="paper-plane-outline"]::before {
  content: "\eb49";
}
i.sl-icon[name="pause-circle"]::before {
  content: "\eb4a";
}
i.sl-icon[name="pause-circle-outline"]::before {
  content: "\eb4b";
}
i.sl-icon[name="people"]::before {
  content: "\eb4c";
}
i.sl-icon[name="people-outline"]::before {
  content: "\eb4d";
}
i.sl-icon[name="percent"]::before {
  content: "\eb4e";
}
i.sl-icon[name="percent-outline"]::before {
  content: "\eb4f";
}
i.sl-icon[name="person"]::before {
  content: "\eb50";
}
i.sl-icon[name="person-add"]::before {
  content: "\eb51";
}
i.sl-icon[name="person-add-outline"]::before {
  content: "\eb52";
}
i.sl-icon[name="person-delete"]::before {
  content: "\eb53";
}
i.sl-icon[name="person-delete-outline"]::before {
  content: "\eb54";
}
i.sl-icon[name="person-done"]::before {
  content: "\eb55";
}
i.sl-icon[name="person-done-outline"]::before {
  content: "\eb56";
}
i.sl-icon[name="person-outline"]::before {
  content: "\eb57";
}
i.sl-icon[name="person-remove"]::before {
  content: "\eb58";
}
i.sl-icon[name="person-remove-outline"]::before {
  content: "\eb59";
}
i.sl-icon[name="phone"]::before {
  content: "\eb5a";
}
i.sl-icon[name="phone-call"]::before {
  content: "\eb5b";
}
i.sl-icon[name="phone-call-outline"]::before {
  content: "\eb5c";
}
i.sl-icon[name="phone-missed"]::before {
  content: "\eb5d";
}
i.sl-icon[name="phone-missed-outline"]::before {
  content: "\eb5e";
}
i.sl-icon[name="phone-off"]::before {
  content: "\eb5f";
}
i.sl-icon[name="phone-off-outline"]::before {
  content: "\eb60";
}
i.sl-icon[name="phone-outline"]::before {
  content: "\eb61";
}
i.sl-icon[name="pie-chart"]::before {
  content: "\eb62";
}
i.sl-icon[name="pie-chart-2"]::before {
  content: "\eb63";
}
i.sl-icon[name="pie-chart-outline"]::before {
  content: "\eb64";
}
i.sl-icon[name="pin"]::before {
  content: "\eb65";
}
i.sl-icon[name="pin-outline"]::before {
  content: "\eb66";
}
i.sl-icon[name="play-circle"]::before {
  content: "\eb67";
}
i.sl-icon[name="play-circle-outline"]::before {
  content: "\eb68";
}
i.sl-icon[name="plus"]::before {
  content: "\eb69";
}
i.sl-icon[name="plus-circle"]::before {
  content: "\eb6a";
}
i.sl-icon[name="plus-circle-outline"]::before {
  content: "\eb6b";
}
i.sl-icon[name="plus-outline"]::before {
  content: "\eb6c";
}
i.sl-icon[name="plus-square"]::before {
  content: "\eb6d";
}
i.sl-icon[name="plus-square-outline"]::before {
  content: "\eb6e";
}
i.sl-icon[name="power"]::before {
  content: "\eb6f";
}
i.sl-icon[name="power-outline"]::before {
  content: "\eb70";
}
i.sl-icon[name="pricetags"]::before {
  content: "\eb71";
}
i.sl-icon[name="pricetags-outline"]::before {
  content: "\eb72";
}
i.sl-icon[name="printer"]::before {
  content: "\eb73";
}
i.sl-icon[name="printer-outline"]::before {
  content: "\eb74";
}
i.sl-icon[name="question-mark"]::before {
  content: "\eb75";
}
i.sl-icon[name="question-mark-circle"]::before {
  content: "\eb76";
}
i.sl-icon[name="question-mark-circle-outline"]::before {
  content: "\eb77";
}
i.sl-icon[name="question-mark-outline"]::before {
  content: "\eb78";
}
i.sl-icon[name="radio"]::before {
  content: "\eb79";
}
i.sl-icon[name="radio-button-off"]::before {
  content: "\eb7a";
}
i.sl-icon[name="radio-button-off-outline"]::before {
  content: "\eb7b";
}
i.sl-icon[name="radio-button-on"]::before {
  content: "\eb7c";
}
i.sl-icon[name="radio-button-on-outline"]::before {
  content: "\eb7d";
}
i.sl-icon[name="radio-outline"]::before {
  content: "\eb7e";
}
i.sl-icon[name="recording"]::before {
  content: "\eb7f";
}
i.sl-icon[name="recording-outline"]::before {
  content: "\eb80";
}
i.sl-icon[name="refresh"]::before {
  content: "\eb81";
}
i.sl-icon[name="refresh-outline"]::before {
  content: "\eb82";
}
i.sl-icon[name="repeat"]::before {
  content: "\eb83";
}
i.sl-icon[name="repeat-outline"]::before {
  content: "\eb84";
}
i.sl-icon[name="rewind-left"]::before {
  content: "\eb85";
}
i.sl-icon[name="rewind-left-outline"]::before {
  content: "\eb86";
}
i.sl-icon[name="rewind-right"]::before {
  content: "\eb87";
}
i.sl-icon[name="rewind-right-outline"]::before {
  content: "\eb88";
}
i.sl-icon[name="save"]::before {
  content: "\eb89";
}
i.sl-icon[name="save-outline"]::before {
  content: "\eb8a";
}
i.sl-icon[name="scissors"]::before {
  content: "\eb8b";
}
i.sl-icon[name="scissors-outline"]::before {
  content: "\eb8c";
}
i.sl-icon[name="search"]::before {
  content: "\eb8d";
}
i.sl-icon[name="search-outline"]::before {
  content: "\eb8e";
}
i.sl-icon[name="settings"]::before {
  content: "\eb8f";
}
i.sl-icon[name="settings-2"]::before {
  content: "\eb90";
}
i.sl-icon[name="settings-2-outline"]::before {
  content: "\eb91";
}
i.sl-icon[name="settings-outline"]::before {
  content: "\eb92";
}
i.sl-icon[name="shake"]::before {
  content: "\eb93";
}
i.sl-icon[name="shake-outline"]::before {
  content: "\eb94";
}
i.sl-icon[name="share"]::before {
  content: "\eb95";
}
i.sl-icon[name="share-outline"]::before {
  content: "\eb96";
}
i.sl-icon[name="shield"]::before {
  content: "\eb97";
}
i.sl-icon[name="shield-off"]::before {
  content: "\eb98";
}
i.sl-icon[name="shield-off-outline"]::before {
  content: "\eb99";
}
i.sl-icon[name="shield-outline"]::before {
  content: "\eb9a";
}
i.sl-icon[name="shopping-bag"]::before {
  content: "\eb9b";
}
i.sl-icon[name="shopping-bag-outline"]::before {
  content: "\eb9c";
}
i.sl-icon[name="shopping-cart"]::before {
  content: "\eb9d";
}
i.sl-icon[name="shopping-cart-outline"]::before {
  content: "\eb9e";
}
i.sl-icon[name="shuffle"]::before {
  content: "\eb9f";
}
i.sl-icon[name="shuffle-2"]::before {
  content: "\eba0";
}
i.sl-icon[name="shuffle-2-outline"]::before {
  content: "\eba1";
}
i.sl-icon[name="shuffle-outline"]::before {
  content: "\eba2";
}
i.sl-icon[name="skip-back"]::before {
  content: "\eba3";
}
i.sl-icon[name="skip-back-outline"]::before {
  content: "\eba4";
}
i.sl-icon[name="skip-forward"]::before {
  content: "\eba5";
}
i.sl-icon[name="skip-forward-outline"]::before {
  content: "\eba6";
}
i.sl-icon[name="slash"]::before {
  content: "\eba7";
}
i.sl-icon[name="slash-outline"]::before {
  content: "\eba8";
}
i.sl-icon[name="smartphone"]::before {
  content: "\eba9";
}
i.sl-icon[name="smartphone-outline"]::before {
  content: "\ebaa";
}
i.sl-icon[name="smiling-face"]::before {
  content: "\ebab";
}
i.sl-icon[name="smiling-face-outline"]::before {
  content: "\ebac";
}
i.sl-icon[name="speaker"]::before {
  content: "\ebad";
}
i.sl-icon[name="speaker-outline"]::before {
  content: "\ebae";
}
i.sl-icon[name="square"]::before {
  content: "\ebaf";
}
i.sl-icon[name="square-outline"]::before {
  content: "\ebb0";
}
i.sl-icon[name="star"]::before {
  content: "\ebb1";
}
i.sl-icon[name="star-outline"]::before {
  content: "\ebb2";
}
i.sl-icon[name="stop-circle"]::before {
  content: "\ebb3";
}
i.sl-icon[name="stop-circle-outline"]::before {
  content: "\ebb4";
}
i.sl-icon[name="sun"]::before {
  content: "\ebb5";
}
i.sl-icon[name="sun-outline"]::before {
  content: "\ebb6";
}
i.sl-icon[name="swap"]::before {
  content: "\ebb7";
}
i.sl-icon[name="swap-outline"]::before {
  content: "\ebb8";
}
i.sl-icon[name="sync"]::before {
  content: "\ebb9";
}
i.sl-icon[name="sync-outline"]::before {
  content: "\ebba";
}
i.sl-icon[name="text"]::before {
  content: "\ebbb";
}
i.sl-icon[name="text-outline"]::before {
  content: "\ebbc";
}
i.sl-icon[name="thermometer"]::before {
  content: "\ebbd";
}
i.sl-icon[name="thermometer-minus"]::before {
  content: "\ebbe";
}
i.sl-icon[name="thermometer-minus-outline"]::before {
  content: "\ebbf";
}
i.sl-icon[name="thermometer-outline"]::before {
  content: "\ebc0";
}
i.sl-icon[name="thermometer-plus"]::before {
  content: "\ebc1";
}
i.sl-icon[name="thermometer-plus-outline"]::before {
  content: "\ebc2";
}
i.sl-icon[name="toggle-left"]::before {
  content: "\ebc3";
}
i.sl-icon[name="toggle-left-outline"]::before {
  content: "\ebc4";
}
i.sl-icon[name="toggle-right"]::before {
  content: "\ebc5";
}
i.sl-icon[name="toggle-right-outline"]::before {
  content: "\ebc6";
}
i.sl-icon[name="trash"]::before {
  content: "\ebc7";
}
i.sl-icon[name="trash-2"]::before {
  content: "\ebc8";
}
i.sl-icon[name="trash-2-outline"]::before {
  content: "\ebc9";
}
i.sl-icon[name="trash-outline"]::before {
  content: "\ebca";
}
i.sl-icon[name="trending-down"]::before {
  content: "\ebcb";
}
i.sl-icon[name="trending-down-outline"]::before {
  content: "\ebcc";
}
i.sl-icon[name="trending-up"]::before {
  content: "\ebcd";
}
i.sl-icon[name="trending-up-outline"]::before {
  content: "\ebce";
}
i.sl-icon[name="tv"]::before {
  content: "\ebcf";
}
i.sl-icon[name="tv-outline"]::before {
  content: "\ebd0";
}
i.sl-icon[name="twitter"]::before {
  content: "\ebd1";
}
i.sl-icon[name="twitter-outline"]::before {
  content: "\ebd2";
}
i.sl-icon[name="umbrella"]::before {
  content: "\ebd3";
}
i.sl-icon[name="umbrella-outline"]::before {
  content: "\ebd4";
}
i.sl-icon[name="undo"]::before {
  content: "\ebd5";
}
i.sl-icon[name="undo-outline"]::before {
  content: "\ebd6";
}
i.sl-icon[name="unlock"]::before {
  content: "\ebd7";
}
i.sl-icon[name="unlock-outline"]::before {
  content: "\ebd8";
}
i.sl-icon[name="upload"]::before {
  content: "\ebd9";
}
i.sl-icon[name="upload-outline"]::before {
  content: "\ebda";
}
i.sl-icon[name="video"]::before {
  content: "\ebdb";
}
i.sl-icon[name="video-off"]::before {
  content: "\ebdc";
}
i.sl-icon[name="video-off-outline"]::before {
  content: "\ebdd";
}
i.sl-icon[name="video-outline"]::before {
  content: "\ebde";
}
i.sl-icon[name="volume-down"]::before {
  content: "\ebdf";
}
i.sl-icon[name="volume-down-outline"]::before {
  content: "\ebe0";
}
i.sl-icon[name="volume-mute"]::before {
  content: "\ebe1";
}
i.sl-icon[name="volume-mute-outline"]::before {
  content: "\ebe2";
}
i.sl-icon[name="volume-off"]::before {
  content: "\ebe3";
}
i.sl-icon[name="volume-off-outline"]::before {
  content: "\ebe4";
}
i.sl-icon[name="volume-up"]::before {
  content: "\ebe5";
}
i.sl-icon[name="volume-up-outline"]::before {
  content: "\ebe6";
}
i.sl-icon[name="wifi"]::before {
  content: "\ebe7";
}
i.sl-icon[name="wifi-off"]::before {
  content: "\ebe8";
}
i.sl-icon[name="wifi-off-outline"]::before {
  content: "\ebe9";
}
i.sl-icon[name="wifi-outline"]::before {
  content: "\ebea";
}
