// Light
:host([sl-theme=light]) {
  --sl-layout-dropzone-background-color: rgba(0, 0, 0, .25);
}
// Dark
:host([sl-theme=dark]) {
  --sl-layout-dropzone-background-color: rgba(255, 255, 255, .25);
}
// Layout
div.sl-layout {
  height: 100%;
  display: flex;
  flex-direction: column;
  > nav.sl-tabs {
    min-height: 30px;
    > ul {
      height: 100%;
      > div.droplist {
        width: 100%;
        display: flex;
        flex-direction: row;
        > div.dragitem.placeholder {
          visibility: hidden;
        }
      }
    }
  }
  > div.tab-content {
    position: relative;
    height: 100%;
    > div.dropzone {
      position: absolute;
      inset: 0;
      transition: all .1s ease-in-out;
    }
    > div.tab-view {
      position: relative;
      height: 100%;
      display: none;
      &.active {
        display: block;
      }
      > div.slot-container {
        height: 100%;
      }
    }
  }
  > div.slots {
    &.dragging {
      pointer-events: none;
    }
    > div.slot-wrapper {
      display: none;
    }
  }
}
