// Light
:host([sl-theme=light]) {
  --sl-layout-dropzone-background-color: rgba(0, 0, 0, .25);
}
// Dark
:host([sl-theme=dark]) {
  --sl-layout-dropzone-background-color: rgba(255, 255, 255, .25);
}
:host {
  --sl-splitter-overflow: hidden;
}
// Layout
div.sl-layout {
  height: 100%;
  display: flex;
  flex-direction: column;
  sl-tab {
    sl-icon.close-btn {
      cursor: pointer;
      --sl-icon-size: var(--sl-tab-button-close-icon-size, 14px);
      background: transparent;
      border-radius: 4px;
      margin-left: 4px;
      &:hover {
        background-color: rgba(0, 0, 0, .1);
      }
    }
    &.dragged {
      sl-icon.close-btn {
        display: none;
      }
    }
  }
  > div.tab-content {
    position: relative;
    height: 100%;
    > div.tab-view {
      position: relative;
      height: 100%;
      display: none;
      &.active {
        display: block;
      }
    }
    > div.dropzone {
      display: none;
      position: absolute;
      inset: 0;
      z-index: 1;
      &::before {
        position: absolute;
        inset: 0;
        content: '';
        transition: all .1s ease-in-out;
      }
      &.active {
        display: block;
        &::before {
          background-color: var(--sl-layout-dropzone-background-color);
        }
      }
      &.dragover-top {
        &::before {
          bottom: 50%;
        }
      }
      &.dragover-right {
        &::before {
          left: 50%;
        }
      }
      &.dragover-bottom {
        &::before {
          top: 50%;
        }
      }
      &.dragover-left {
        &::before {
          right: 50%;
        }
      }
      &.dragover-left {
        &::before {
          right: 50%;
        }
      }
      &.dragover-none {
        &::before {
          display: none;
        }
      }
    }
  }
}
