:root {
  --va-font-family: Verdana;
  --va-font-family-mono: monospace;
}

*[sl-theme=vanilla-light] {
  --sl-font-family: var(--va-font-family);
  --sl-font-family-mono: var(--va-font-family-mono);
  --sl-background-color: var(--va-white);
  --sl-background-color-subtle: var(--va-aqua-haze);
  --sl-text-color: var(--va-tundora);
  --sl-text-color-subtle: var(--va-shuttle-gray);
  --sl-secondary-text-color: var(--va-white);
  --sl-divider-color: var(--va-silver);
  --sl-white: var(--va-white);
  --sl-primary: var(--va-vermilion);
}

*[sl-theme=vanilla-dark] {
  --sl-font-family: var(--va-font-family);
  --sl-font-family-mono: var(--va-font-family-mono);
  --sl-background-color: var(--va-tundora);
  --sl-background-color-subtle: var(--va-brilliant-gray);
  --sl-text-color: var(--va-white);
  --sl-text-color-subtle: var(--va-aqua-haze);
  --sl-secondary-text-color: var(--va-tundora);
  --sl-divider-color: var(--va-dark-charcoal);
  --sl-white: var(--va-white);
  --sl-primary: var(--va-vermilion);
}
