/* Host */
:host([sl-theme=primer-light]) {
  /* Override */
  --sl-input-text-background-color: #FFFFFF;
  --sl-input-text-color: var(--pr-shark);
  --sl-input-text-border-color: var(--pr-geyser);
  --sl-input-text-pre-color: #777777;
  --sl-input-text-placeholder-color: #777777;
  --sl-input-text-focus-border-color: #111111;
  /* Custom */
  --sl-input-text-outline-color: var(--pr-science-blue);
}
:host([sl-theme=primer-dark]) {
  /* Override */
  --sl-input-text-background-color: #FFFFFF;
  --sl-input-text-color: var(--pr-shark);
  --sl-input-text-border-color: var(--pr-geyser);
  --sl-input-text-pre-color: #777777;
  --sl-input-text-placeholder-color: #777777;
  --sl-input-text-focus-border-color: #111111;
  /* Custom */
  --sl-input-text-outline-color: var(--pr-cornflower-blue);
}
div.sl-input-text {
  font-family: var(--pr-font-family);
  border-radius: 6px;
  padding: 1px 12px;
  min-height: 32px;
  font-size: 14px;
}
div.sl-input-text.focused {
  outline-color: var(--sl-input-text-outline-color);
}
