:host([sl-theme=svelte-light]) {
  --sl-button-border-radius: 4px;
  --sl-button-background-color: #FFFFFF;
  --sl-button-color: #000000;
  --sl-button-border-color: var(--sv-silver);
  --sl-button-hover-background-color: #F7FAFC;
  --sl-button-hover-border-color: var(--sv-silver);
  --sl-button-active-background-color: #FFFFFF;
  --sl-button-active-border-color: var(--sv-silver);
}
:host([sl-theme=svelte-dark]) {
  --sl-button-border-radius: 4px;
  --sl-button-background-color: #FFFFFF;
  --sl-button-color: #000000;
  --sl-button-border-color: var(--sv-silver);
  --sl-button-hover-background-color: #F7FAFC;
  --sl-button-hover-border-color: var(--sv-silver);
  --sl-button-active-background-color: #FFFFFF;
  --sl-button-active-border-color: var(--sv-silver);
}
button {
  font-family: var(--sv-font-family);
  padding: 7px 14px;
}
