:root {
  --sv-font-family: 'Fira Sans';
  --sv-white: #FFFFFF;
  --sv-silver: #CCCCCC;
  --sv-tundora: #444444;
  --sv-dove-gray: #666666;
  --sv-dusty-gray: #999999;
  --sv-vermilion: #FF3E00;
  --sv-dolphin: #676778;
  --sv-dodger-blue: #40B3FF;
}

*[sl-theme=svelte-light] {
  --sl-font-family: var(--sv-font-family);
  --sl-background-color: var(--sv-white);
  --sl-text-color: var(--sv-tundora);
  --sl-primary: var(--sv-vermilion);
  --sl-secondary: var(--sv-dolphin);
  --sl-accent: var(--sv-dodger-blue);
}
