:root {
  --sv-font-family: 'Fira Sans';
  --sv-font-family-mono: 'Fira Mono';
  --sv-white: #FFFFFF;
  --sv-aqua-haze: #F6F8FA;
  --sv-silver: #CCCCCC;
  --sv-tundora: #444444;
  --sv-shuttle-gray: #57606A;
  --sv-dove-gray: #666666;
  --sv-dusty-gray: #999999;
  --sv-vermilion: #FF3E00;
  --sv-dolphin: #676778;
  --sv-dodger-blue: #40B3FF;
}

*[sl-theme=svelte-light] {
  --sl-font-family: var(--sv-font-family);
  --sl-font-family-mono: var(--sv-font-family-mono);
  --sl-background-color: var(--sv-white);
  --sl-background-color-subtle: var(--sv-aqua-haze);
  --sl-text-color: var(--sv-tundora);
  --sl-text-color-subtle: var(--sv-shuttle-gray);
  --sl-secondary-text-color: var(--sv-white);
  --sl-divider-color: var(--sv-silver);
  --sl-primary: var(--sv-vermilion);
  --sl-secondary: var(--sv-dolphin);
  --sl-accent: var(--sv-dodger-blue);
}
